* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-family: "Microsoft YaHei";
  font-style: normal!important;
  font-weight: normal!important;
  text-shadow: none;
}
body {
  width: 10rem;
  margin: 0 auto;
  background: #eeeeee;
}
.top-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
.bot-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}
header {
  background: #fe5400 url("../images/t_logo.png") no-repeat 0.15625rem center;
  background-size: 1.15rem;
  padding: 0.25rem 0.25rem 0.25rem 1.6rem;
  width: 100%;
}
.scroll-view {
  margin-top: 1rem;
}
.search-placeholder {
  width: 8.75rem;
  height: 0.6875rem;
  background: #b52600;
  border-radius: 0.078125rem;
}
.search-placeholder span {
  display: inline-block;
  float: left;
  height: 0.6875rem;
  line-height: 0.6875rem;
  font-size: 0.34375rem;
  color: #FFF;
  margin-left: 2.65625rem;
  position: relative;
  padding-left: 0.46875rem;
}
.search-placeholder span:before {
  content: '';
  width: 0.3125rem;
  height: 0.25rem;
  background: url("../images/search.jpg") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0.21875rem;
}
.carousel {
  height: 3.125rem;
  overflow: hidden;
}
.carousel img {
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.nav-ul {
  padding: 0 0.625rem 0.625rem;
  box-sizing: border-box;
  background: #ffffff;
}
.no-margin-l {
  margin-left: 0!important;
}
.nav-li {
  width: 1.28125rem;
  float: left;
  margin-left: 0.5625rem;
  margin-top: 0.3125rem;
}
.nav-li img {
  width: 1.15625rem;
}
.nav-li p {
  font-size: 0.3125rem;
  color: #666;
  text-align: center;
}
.tb_tt {
  height: 1rem;
  padding: 0.25rem 0.3125rem;
  box-sizing: border-box;
  background: #ffffff url("../images/tb_tt.png") no-repeat 0.3125rem 0.3125rem;
  background-size: 1.5625rem 0.46875rem;
}
.nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.tb_info {
  font-size: 0.4375rem;
  margin-left: 1.875rem;
  border-left: 1px solid #ccc;
  padding-left: 0.3125rem;
  line-height: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tb-new {
  display: inline-block;
  font-size: 0.4375rem;
  border-radius: 0.078125rem;
  border: 1px solid red;
  margin-right: 0.3125rem;
  padding: 0 0.078125rem;
  color: #e14852!important;
  font-weight: normal;
}
.tqg {
  background: #ffffff;
  margin-top: 0.15625rem;
}
.tqg_box1 {
  width: 3.75rem;
  height: 6.40625rem;
  background: url("../images/tqg_box1.jpg") no-repeat center;
  background-size: contain;
}
.tqg-rt {
  border-bottom: 1px solid #cccccc;
}
.tqg div,
.tqg-rt div,
.tqg-rb div {
  float: left;
}
.tqg-rt div {
  width: 3.109375rem;
}
.tqg-rb div {
  width: 3.109375rem;
}
.tqg-r {
  width: 6.21875rem;
  border-left: 1px solid #cccccc;
}
.tqg_box2,
.tqg_box4,
.tqg_box5 {
  padding: 0.3125rem 0.25rem;
  box-sizing: border-box;
}
.tqg_b2_1 {
  padding-left: 0.625rem;
  font-size: 0.46875rem;
  color: #82d6f4;
  background: url("../images/tqg_b2_1.png") no-repeat left;
}
.tqg_b2_2 {
  font-size: 0.3125rem;
}
.tqg_b2_3 {
  font-size: 0.3125rem;
  color: #82d6f4;
}
.tqg a {
  display: block;
}
.tqg span {
  display: inline-block;
}
.tqg_box3 {
  padding: 0.15625rem 0;
  box-sizing: border-box;
}
.tqg_box3 img {
  width: 1.625rem;
  height: 2rem;
  margin: 0.46875rem auto 0;
}
.tqg_box5 {
  width: 3.09375rem;
  border-left: 1px solid #ccc;
}
.tqg_b5_1 {
  color: #fda198;
  font-size: 0.34375rem;
  background: url("../images/tqg_b5_1.png") no-repeat left;
  padding-left: 0.46875rem;
}
.tqg_b4_3 {
  width: 2.1875rem;
  height: 1.09375rem;
}
.tqg_b4_1 {
  color: #f45993;
  font-size: 0.34375rem;
  background: url("../images/tqg_b4_1.png") no-repeat left;
  padding-left: 0.46875rem;
}
.tqg_b5_3 {
  width: 1.71875rem;
  height: 1.40625rem;
}
.tqg_b4_3 {
  margin-top: 0.15625rem;
}
.foot_nav {
  background: #ffffff;
}
.foot_nav li {
  float: left;
  width: 2rem;
}
.foot_nav a {
  display: block;
}
.foot_nav img {
  display: block;
  margin: 0 auto;
  width: 0.75rem;
  height: 0.625rem;
}
.foot_nav {
  padding: 0.3125rem 0 0.15625rem;
  box-sizing: border-box;
}
.foot_nav_span {
  display: block;
  font-size: 0.28125rem;
  text-align: center;
  line-height: 0.46875rem;
}
.ui-loader {
  display: none;
}
