<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
  <script type="text/javascript" src="http://www.css88.com/doc/underscore/underscore.js"></script>
  <title>test</title>
   <style type="text/css">
    span{
    	display: inline-block;
    	width:100px;
    	height: 50px;
    	line-height: 50px;
    	text-align: center;
    	background: skyblue;
    	margin-top:10px;
    }

   </style>
</head>
<body>
<div id="app">
    
<!--购物车界面 -->
	<div class="row" v-for="(item, index) in items">
		<span>{{item.name}}</span>
		<span>{{item.price}}</span>
		<span @click="updateNum(item,-1,index)">-</span>
		<span>{{item.num}}</span>
		<span @click="updateNum(item,+1,index)">+</span>
	<!-- 	<span>{{item.id}}</span> -->
		<span>{{item.price*item.num}}</span>
	</div>

	<p>总数量:{{totalNumber}}</p>
	<p>总价格:{{totalPrice}}</p>

<!-- 产品界面 -->
	<div class="row" v-for="(good, index) in goods">
		<span>{{good.name}}</span>
		<span>{{good.price}}</span>
	<!-- 	<span>{{good.id}}</span> -->
		<span @click="purchase(good)">购买</span>
	</div>

</div>
<script>
 var vm = new Vue({
 	el:"#app",
 	data:{
 		items:[],
 		goods:[
 		{name:"html",price:100,num:1,id:'id1'},
 		{name:"java",price:200,num:1,id:'id2'},
 		{name:"csss",price:300,num:1,id:'id3'}
 		],
 	},
 	computed: {
 		totalPrice:function(){
 			var sum = 0;
 			var items = this.items;
 			for(var i = 0;i < items.length;i++){
                sum = sum + items[i].num * items[i].price;
 			}
 			return sum;
 		},
 		totalNumber:function(){
 			var sum = 0;
 			var items = this.items;
 			for(var i = 0;i < items.length;i++){
                sum = sum + items[i].num;
 			}
 			return sum;
 		}
    },
 	methods:{
 		purchase:function(good){
        // 产品页面goods
        // 购物车页面items
        var id = good.id;
 		for(var i = 0;i< vm.items.length;i++){
 			if(id == vm.items[i].id){
                vm.items[i].num++;
                return;
 			}
 		}
 		
 		vm.items.push({name:good.name,price:good.price,num:good.num,id:good.id})
     
 		},
 		updateNum:function(item,n,index){
 			
 			item.num = item.num + n;

 	        if(item.num < 1) {
 	        	this.items.splice(index,1)
 	        }

 			if (item.num > 99) {item.num = 100;}
 	
 		}
 		
 	}
 })
</script>
</body>
</html>